#
# Config for the layout of the esp32s3 camera-in-a-circle screen
#

[meta]
name = ""

[output]
type = "output:gpio"
protocol = "ws2811"
channels = [{ pin = 4, fixtures = ["led-rings-fixture"] }]

[camera]
type = "input:camera"

# Scene1

[scene1.lfo]
type = "oscillator"
curve = "sine"
period = 10_000

[scene1.step1]
type = "2d:cutoff"
image = { _entity = ".camera", output = "image" }
cutoff = 0.5

[scene1.step2]
type = "2d:brightness-to-hue"
image = { _entity = ".step1", output = "image" }
hue_offset = { _entity = ".lfo", output = "value" }

[scene1.renderer]
type = "2d:renderer"
fixture = "led-ring.fixture"
image = ".pipeline::image"


# LED Ring

[led-ring.meta]
name = "LED Ring"

[led-ring.fixture]
type = "fixture:led-string"
color-type = "rgb"
channel-order = "grb"
led-count = 150
mapping = ".mapping"
gamma_curve = "typical-ws2812"

[led-ring.mapping]
type = "mapping:2d-geometry"

[[led-ring.mapping.elements]]
type = "repeat:radial"
count = 8
radius = 1
direction = "clockwise"
element = { type = "circle", radius = 1 }

[[led-ring.mapping.elements]]
type = "repeat:radial"
count = 12
radius = 2
direction = "clockwise"
element = { type = "circle", radius = 1 }

